Django==1.4.5
PIL==1.1.7
South==0.7.6
argparse==1.2.1
distribute==0.6.31
dj-database-url==0.2.1
django-bootstrap-forms==0.1
django-debug-toolbar==0.9.4
django-ratings==0.3.7
django-registration==0.8
django-defaults
gunicorn==0.17.2
ipython==0.13.2
psycopg2==2.4.6
wsgiref==0.1.2
