{% extends "_layouts/base.html" %}
{% load url from future %}
{% load comments %}

{% block page_title %} {{ movie.title }} {% endblock %}
{% block page_header %} Details{% endblock %}
{% block content %}
<div class="page-header">
  <h3> <a href="{{ movie.get_absolute_url }}">{{ movie.title }}</a></h3>
</div>
<img class="thumbnail" data-src="holder.js/360x270" src="{{ MEDIA_URL }}{{ movie.photo }}">
<p>{{ movie.description|linebreaks }}</p>
<hr>
Number of seats left :<h3> {{ movie.seats }}</h3>
Starting from : <h3>{{ movie.start_date }}</h3>
Ending on : <h3>{{ movie.end_date}}</h3>
<a class="btn btn-primary btn-large" href="#">Buy Tickets</a>
<hr>
{% get_comment_count for movie as comment_count %}
<p>This movie has {{ comment_count }} reviews.</p>
{% render_comment_list for movie %}
{% get_comment_list for movie as comment_list %}
{% for comment in comment_list %}
  <p> {{ comment.user_name }} says </p>
  <p> {{ comment.comment }} </p>
  <p> at {{ comment.submit_date }}
{% endfor %}
{% endblock %}
