{% extends "_layouts/base.html" %}
{% load url from future %}

{% block page_title %} {{ movie.title }} {% endblock %}
{% block page_header %} Details{% endblock %}
{% block page_content %}
<div class="page-header">
  <h3> {{ movie.title }} </h3>
</div>
<img class="thumbnail" data-src="holder.js/360x270" src="{{ MEDIA_URL }}{{ movie.photo }}">
<p>{{ movie.description|linebreaks }}</p>
<hr>
Number of seats left :<h3> {{ movie.seats }}</h3>
Starting from : <h3>{{ movie.start_date }}</h3>
Ending on : <h3>{{ movie.end_date}}</h3>
<a class="btn btn-primary btn-large pull-right" href="#">Buy Tickets</a>
{% endblock %}
