{% extends "_layouts/base.html" %}
{% load url from future %}

{% block page_title %}All Movies | {% endblock %}
{% block page_header %}All Movies{% endblock %}
{% block headline %}All Movies {% endblock %}

{% block content %}
<div class="row-fluid">
{% for movie in movie_list %}
  <ul class="thumbnails">
    {% if movie.published %}
      <li class="span5">
      <a href="{{ movie.get_absolute_url }}" class="thumbnail">
        <img data-src="holder.js/300x200" style="width: 300px; height: 200px;" src="{{ MEDIA_URL }}{{ movie.photo }}">
      </a>
      <li class="span7">
        <h3>{{ movie.title }}</h3>
        <p>{{ movie.description|slice:'200'|linebreaks }}</p>
        <p>
          <a class="btn btn-success pull-right" href="{{ movie.get_absolute_url }}">Checkout</a>
        </p>
        </li>
      </li>
    {% endif %}
  </ul>
{% endfor %}
</div>
{% endblock %}
